<a href="https://colab.research.google.com/github/Pranayshukla0610/basic-python/blob/main/Data_Structures_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATA STRUCTURES IN PYTHON**

In [ ]:
#List – Remove Duplicates Without Using Set

def remove_duplicates(nums):
  result = []
  for n in nums:
    if n not in result:
      result.append(n)
  return result

print(remove_duplicates([1,2,2,3,4,4,5]))

[1, 2, 3, 4, 5]

In [ ]:
#List – Flatten a Nested List

def flatten_list(nested):
  flat = []

  for i in nested:
    if isinstance(i, list):
      flat.extend(i)
    else:
      flat.append(i)
  return flat

print(flatten_list([1, [2,3], [4,[5,6]]]))

[1, 2, 3, 4, [5, 6]]

In [ ]:
#isinstance
x = [1,2,3]
print(isinstance(x,list))

True

In [ ]:
x = (1,2,3)
print(isinstance(x,tuple))

True

In [ ]:
#Check if a variable is iterable but not a string
from collections.abc import Iterable

def is_iterable(obj):
  return isinstance(obj, Iterable) and not isinstance(obj, (str,bytes))

print(is_iterable([1,2,3,4,5]))
print(is_iterable('abc'))

True
False

In [ ]:
x = 3.14
print(isinstance(x,(int,float)))

True

In [ ]:
#Implement a function that accepts only numbers (int/float) and raises error otherwise
def safe_add(a,b):
  if not isinstance(a,(int,float)) or not isinstance(b,(int,float)):
    raise TypeError('Inputs must be int or float')
  return a + b

print(safe_add(2.5,5))

7.5

In [ ]:
#Polymorphic function that behaves differently by type

def describe(x):
  if isinstance(x,int):
    return f'{x} is an integer'
  elif isinstance(x,str):
    return f'{x} is an string'
  elif isinstance(x,list):
    return f'{x} is a list'
  else:
    return 'Unknown Type'

print(describe(42))
print(describe('Hello'))
print(describe([1,2,3]))

42 is an integer
Hello is an string
[1, 2, 3] is a list

**BUILT-IN FUNCTION**

In [ ]:
nums = [10,20,30,40,50]
average = sum(nums)/len(nums)
print('Average:',average)

Average: 30.0

In [ ]:
salaries = [40000, 55000, 32000, 90000, 60000]
print('Highest Salery:',max(salaries))
print('Lowest Salary:', min(salaries))

Highest Salery: 90000
Lowest Salary: 32000

In [ ]:
students = [('Alice',85),('Bob',92),('Charlies',78)]
sorted_students = sorted(students, key=lambda x:x[1], reverse=True)
print(sorted_students)

[('Bob', 92), ('Alice', 85), ('Charlies', 78)]