<a href="https://colab.research.google.com/github/Pranayshukla0610/basic-python/blob/main/I_O_and_Variables_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Input and Output Questions Pattern 1

In [ ]:
n = int(input())

45

In [ ]:
a, b = map(int, input().split())

45 55

In [ ]:
a, b = map(float, input().split())

50 60

In [ ]:
#Given t test cases, for each, read a list of numbers and output their product.
t = int(input())
for _ in range(t):
  n = int(input())
  arr = list(map(int, input().split()))
  product=1
  for num in arr:
    product*=num
  print(product)

2
3
1 2 3
6
4
2 3 4 5
120

In [ ]:
#Read a list of integers and print them separated by "->".
arr = list(map(int, input().split()))
print('->'.join(map(str,arr)))

2 3 4 5 6 7 8
2->3->4->5->6->7->8

In [ ]:
n = int(input())
for _ in range(n):
  num = float(input())
  print(f'{num:.4e}')

3
1234.56
1.2346e+03
4
4.0000e+00
0.00001234
1.2340e-05

Variables

In [ ]:
x = 5
name = 'Pranay Shukla'

print(x)
print(name)

5
Pranay Shukla

In [ ]:
a, b = map(int, input('Enter two numbers:').split())
a, b = b, a

print('After Swapping:')
print('a =',a, 'b =',b)

Enter two numbers:10 20
After Swapping:
a = 20 b = 10

In [ ]:
x, y, z = input('Enter three values:').split()
print('x =',x)
print('y =',y)
print('z =',z)

Enter three values:25 35 45
x = 25
y = 35
z = 45

In [ ]:
num = input('Enter a number:')
print('As String:',num)
print('As Integer:',int(num))
print('As float:',float(num))

Enter a number:25
As String: 25
As Integer: 25
As float: 25.0

In [ ]:
a = 10
b = 3.14
c = 'Python'
d = True

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
#Constants vs Variables in Python
PI = 3.14159
radius = int(input('Enter radius:'))

area = PI * (radius ** 2)
print('Area of circle:',area)

Enter radius:5
Area of circle: 78.53975

In [ ]:
#Assign Same Value to Multiple Variables

x = y = z = 100
print('x =',x, 'y =',y, 'z =',z)

x = 100 y = 100 z = 100

PYTHON OPERATORS

In [ ]:
a = 15
b = 4

#Addition
print('Addition:',a+b)

#Subtraction
print('Subtraction:',a-b)

#Multiplication
print('Multiplication:',a*b)

#Division
print('Division:',a/b)

#Floor Division
print('Floor Division:',a//b)

#Modulus
print('Modulus:',a%b)

#Exponential
print('Exponential:',a ** b)

Addition: 19
Subtraction: 11
Multiplication: 60
Division: 3.75
Floor Division: 3
Modulus: 3
Exponential: 50625

In [ ]:
a = 13
b = 33

print(a > b)
print(a == b)
print(a < b)
print(a >= b)
print(a <= b)
print(a != b)

False
False
True
False
True
True

In [ ]:
a = 10
b = 4

print(a & b)
print(a | b)
print(~a)
print(a ^ b)
print(a >> 2)
print(a << 2)

0
14
-11
14
2
40