<a href="https://colab.research.google.com/github/Pranayshukla0610/basic-python/blob/main/Lambda_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Lambda Function
#Find square of a number using Lambda function

square = lambda x:x*x
print(square(5))

25

In [2]:
#Lambda function with multiple arguments
multiply = lambda a, b, c:a* b* c
print(multiply(2,3,4))

24

In [4]:
#Lambda function used inside another function
def power_function(n):
  return lambda x:x**n

square = power_function(2)
cube = power_function(3)

print(square(4))
print(cube(15))

16
3375

In [6]:
#Lambda function with map function
numbers = [1, 2, 3, 4, 5]
squared_number = list(map(lambda x:x**2,numbers))
print(squared_number)

[1, 4, 9, 16, 25]

In [7]:
#Using Lambda with Filter
numbers = [10,15,20,25,30]
even_numbers = list(filter(lambda x:x%2 == 0, numbers))
print(even_numbers)

[10, 20, 30]

In [8]:
#Using Lambda with reduce
from functools import reduce
numbers = [1, 2, 3, 4, 5]
product = reduce(lambda a, b:a * b, numbers)
print("Product",product)

Product 120

In [10]:
#Sorting using Lambda Functions
students = [
    ("Alex",88),
    ("John",92),
    ("Emma",85)
]

sorted_students = sorted(students, key=lambda student:student[1])
print(sorted_students)

[('Emma', 85), ('Alex', 88), ('John', 92)]

In [11]:
students = [
    ("Alex",88),
    ("John",92),
    ("Emma",85)
]

sorted_students = sorted(students, key=lambda student:student[0])
print(sorted_students)

[('Alex', 88), ('Emma', 85), ('John', 92)]

In [12]:
#Conditional Lambda Function
check_even_odd = lambda x:"Even" if x%2 == 0 else "Odd"
print(check_even_odd(10))

Even

In [13]:
#Using lambda with map, filter and reduce together
from functools import reduce
numbers = [1,2,3,4,5,6]
even_numbers = list(filter(lambda x:x%2==0, numbers))
squared_numbers = list(map(lambda x:x**2, even_numbers))

total = reduce(lambda a, b: a+b, squared_numbers)
print(total)

56

In [15]:
# Lambda with nested Data Structures

employees = [
    {"name":"Alice", "salary":50000},
    {"name":"Bob", "salary":60000},
    {"name":"Charlie", "salary":55000}
]

sorted_employees = sorted(employees, key=lambda emp:emp["salary"])
print(sorted_employees)

[{'name': 'Alice', 'salary': 50000}, {'name': 'Charlie', 'salary': 55000}, {'name': 'Bob', 'salary': 60000}]

In [17]:
#Lambda with default arguments
calculate_tax = lambda price, tax_rate=0.18: price + (price * tax_rate)
print(calculate_tax(100))
print(calculate_tax(100,0.))

118.0
100.0

In [19]:
#How do you sort data using multiple criteria with lambda functions?
students = [
    ("Alice", "A", 85),
    ("Bob", "B", 90),
    ("Charlie", "A", 78)
]

sorted_students = sorted(students, key=lambda x: (x[1],x[2]))

print(sorted_students)

[('Charlie', 'A', 78), ('Alice', 'A', 85), ('Bob', 'B', 90)]

In [20]:
#Lambda in list/dictionary comprehensions
numbers = [1, 2, 3, 4, 5]
operations = [(lambda x:x**2)(n) for n in numbers]
print(operations)

[1, 4, 9, 16, 25]