In [1]:
#Creating a Series

import pandas as pd

data = [10, 20, 36, 90, 82]
series = pd.Series(data)
print(series)

0    10
1    20
2    36
3    90
4    82
dtype: int64

In [2]:
#Creating a Series

data = pd.Series([10, 20, 36, 90, 82], index = ["Surabhi","Vignesh","Pragati","Amit","Ankit"])
print(data)

Surabhi    10
Vignesh    20
Pragati    36
Amit       90
Ankit      82
dtype: int64

In [3]:
#DataFrame
#A dataframe is like a table {2-d} with rows and columns

data = {
    "Name": ["Surabhi","Vignesh","Pragati","Amit","Ankit"],
    "Marks": [50,70,46,38,75],
    "Gender": ["Female","Male","Female","Male","Male"]
}

df = pd.DataFrame(data)
print(df)

      Name  Marks  Gender
0  Surabhi     50  Female
1  Vignesh     70    Male
2  Pragati     46  Female
3     Amit     38    Male
4    Ankit     75    Male

In [4]:
import numpy as np
import pandas as pd

In [5]:
data = {
    "Student ID": [1,2,3,4,5,6,7,8,9,10],
    "Exam Score": [85,90,75,60,92,78,55,70,88,np.nan],
    "Age": [18,19,np.nan,21,22,18,19,20,21,20],
    "Gender": ["M","F","M","F","M","F","M","F","M","F"],
    "Absenteeism": [2,1,5,3,0,6,4,1,3,2]
}
df = pd.DataFrame(data)
print(df)

   Student ID  Exam Score   Age Gender  Absenteeism
0           1        85.0  18.0      M            2
1           2        90.0  19.0      F            1
2           3        75.0   NaN      M            5
3           4        60.0  21.0      F            3
4           5        92.0  22.0      M            0
5           6        78.0  18.0      F            6
6           7        55.0  19.0      M            4
7           8        70.0  20.0      F            1
8           9        88.0  21.0      M            3
9          10         NaN  20.0      F            2

In [6]:
df["Exam Score"].fillna(df["Exam Score"].mean(), inplace=True)
print(df)

   Student ID  Exam Score   Age Gender  Absenteeism
0           1        85.0  18.0      M            2
1           2        90.0  19.0      F            1
2           3        75.0   NaN      M            5
3           4        60.0  21.0      F            3
4           5        92.0  22.0      M            0
5           6        78.0  18.0      F            6
6           7        55.0  19.0      M            4
7           8        70.0  20.0      F            1
8           9        88.0  21.0      M            3
9          10        77.0  20.0      F            2

C:\Users\prana\AppData\Local\Temp\ipykernel_30432\4021369314.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Exam Score"].fillna(df["Exam Score"].mean(), inplace=True)

In [7]:
df["Age"].fillna(df["Age"].mean(), inplace=True)
print(df)

   Student ID  Exam Score        Age Gender  Absenteeism
0           1        85.0  18.000000      M            2
1           2        90.0  19.000000      F            1
2           3        75.0  19.777778      M            5
3           4        60.0  21.000000      F            3
4           5        92.0  22.000000      M            0
5           6        78.0  18.000000      F            6
6           7        55.0  19.000000      M            4
7           8        70.0  20.000000      F            1
8           9        88.0  21.000000      M            3
9          10        77.0  20.000000      F            2

C:\Users\prana\AppData\Local\Temp\ipykernel_30432\75043659.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(), inplace=True)

In [8]:
print(df.isnull().sum())

Student ID     0
Exam Score     0
Age            0
Gender         0
Absenteeism    0
dtype: int64

In [9]:
df["Status"] = np.where(df["Exam Score"]>=80, "Pass","Fail")
print(df)

   Student ID  Exam Score        Age Gender  Absenteeism Status
0           1        85.0  18.000000      M            2   Pass
1           2        90.0  19.000000      F            1   Pass
2           3        75.0  19.777778      M            5   Fail
3           4        60.0  21.000000      F            3   Fail
4           5        92.0  22.000000      M            0   Pass
5           6        78.0  18.000000      F            6   Fail
6           7        55.0  19.000000      M            4   Fail
7           8        70.0  20.000000      F            1   Fail
8           9        88.0  21.000000      M            3   Pass
9          10        77.0  20.000000      F            2   Fail

In [10]:
#renaming column name
df.rename(columns={"Exam Score":"Score"},inplace=True)
print(df)

   Student ID  Score        Age Gender  Absenteeism Status
0           1   85.0  18.000000      M            2   Pass
1           2   90.0  19.000000      F            1   Pass
2           3   75.0  19.777778      M            5   Fail
3           4   60.0  21.000000      F            3   Fail
4           5   92.0  22.000000      M            0   Pass
5           6   78.0  18.000000      F            6   Fail
6           7   55.0  19.000000      M            4   Fail
7           8   70.0  20.000000      F            1   Fail
8           9   88.0  21.000000      M            3   Pass
9          10   77.0  20.000000      F            2   Fail

In [11]:
#drop column
df.drop(columns=["Absenteeism"],inplace=True)
print(df)

   Student ID  Score        Age Gender Status
0           1   85.0  18.000000      M   Pass
1           2   90.0  19.000000      F   Pass
2           3   75.0  19.777778      M   Fail
3           4   60.0  21.000000      F   Fail
4           5   92.0  22.000000      M   Pass
5           6   78.0  18.000000      F   Fail
6           7   55.0  19.000000      M   Fail
7           8   70.0  20.000000      F   Fail
8           9   88.0  21.000000      M   Pass
9          10   77.0  20.000000      F   Fail

In [12]:
#sorting in descending order
sorted_df = df.sort_values(by="Score",ascending=False)
print(sorted_df)

   Student ID  Score        Age Gender Status
4           5   92.0  22.000000      M   Pass
1           2   90.0  19.000000      F   Pass
8           9   88.0  21.000000      M   Pass
0           1   85.0  18.000000      M   Pass
5           6   78.0  18.000000      F   Fail
9          10   77.0  20.000000      F   Fail
2           3   75.0  19.777778      M   Fail
7           8   70.0  20.000000      F   Fail
3           4   60.0  21.000000      F   Fail
6           7   55.0  19.000000      M   Fail

In [13]:
sorted_df = df.sort_values(by="Score")
print(sorted_df)

   Student ID  Score        Age Gender Status
6           7   55.0  19.000000      M   Fail
3           4   60.0  21.000000      F   Fail
7           8   70.0  20.000000      F   Fail
2           3   75.0  19.777778      M   Fail
9          10   77.0  20.000000      F   Fail
5           6   78.0  18.000000      F   Fail
0           1   85.0  18.000000      M   Pass
8           9   88.0  21.000000      M   Pass
1           2   90.0  19.000000      F   Pass
4           5   92.0  22.000000      M   Pass

In [14]:
sorted_multi = df.sort_values(by=["Age","Score"])
print(sorted_multi)

   Student ID  Score        Age Gender Status
5           6   78.0  18.000000      F   Fail
0           1   85.0  18.000000      M   Pass
6           7   55.0  19.000000      M   Fail
1           2   90.0  19.000000      F   Pass
2           3   75.0  19.777778      M   Fail
7           8   70.0  20.000000      F   Fail
9          10   77.0  20.000000      F   Fail
3           4   60.0  21.000000      F   Fail
8           9   88.0  21.000000      M   Pass
4           5   92.0  22.000000      M   Pass

In [15]:
#Filtering

females = df[df["Gender"]=="F"]
print(females)

   Student ID  Score   Age Gender Status
1           2   90.0  19.0      F   Pass
3           4   60.0  21.0      F   Fail
5           6   78.0  18.0      F   Fail
7           8   70.0  20.0      F   Fail
9          10   77.0  20.0      F   Fail

In [16]:
males = df[df["Gender"]=="M"]
print(males)

   Student ID  Score        Age Gender Status
0           1   85.0  18.000000      M   Pass
2           3   75.0  19.777778      M   Fail
4           5   92.0  22.000000      M   Pass
6           7   55.0  19.000000      M   Fail
8           9   88.0  21.000000      M   Pass

In [17]:
student_ID = df[df["Student ID"]==4]
print(student_ID)

   Student ID  Score   Age Gender Status
3           4   60.0  21.0      F   Fail

In [18]:
data1 = {
    "Student ID": [1,8,3,4,4,6,7,8,9,10],
    "Exam Score": [85,90,75,60,92,78,55,70,88,np.nan],
    "Age": [18,19,np.nan,21,22,18,19,20,21,20],
    "Gender": ["M","F","M","F","M","F","M","F","M","F"],
    "Absenteeism": [2,1,5,3,0,6,4,1,3,2]
}
df1 = pd.DataFrame(data1)
print(df1)

   Student ID  Exam Score   Age Gender  Absenteeism
0           1        85.0  18.0      M            2
1           8        90.0  19.0      F            1
2           3        75.0   NaN      M            5
3           4        60.0  21.0      F            3
4           4        92.0  22.0      M            0
5           6        78.0  18.0      F            6
6           7        55.0  19.0      M            4
7           8        70.0  20.0      F            1
8           9        88.0  21.0      M            3
9          10         NaN  20.0      F            2

In [19]:
df1["Student ID"].drop_duplicates(inplace=True)
print(df1)

   Student ID  Exam Score   Age Gender  Absenteeism
0           1        85.0  18.0      M            2
1           8        90.0  19.0      F            1
2           3        75.0   NaN      M            5
3           4        60.0  21.0      F            3
4           4        92.0  22.0      M            0
5           6        78.0  18.0      F            6
6           7        55.0  19.0      M            4
7           8        70.0  20.0      F            1
8           9        88.0  21.0      M            3
9          10         NaN  20.0      F            2

In [20]:
df1_duplicates = df1.drop_duplicates(["Student ID"])
print(df1_duplicates)

   Student ID  Exam Score   Age Gender  Absenteeism
0           1        85.0  18.0      M            2
1           8        90.0  19.0      F            1
2           3        75.0   NaN      M            5
3           4        60.0  21.0      F            3
5           6        78.0  18.0      F            6
6           7        55.0  19.0      M            4
8           9        88.0  21.0      M            3
9          10         NaN  20.0      F            2

In [21]:
df1_duplicates = df1.drop_duplicates(["Student ID"],keep="last")
print(df1_duplicates)

   Student ID  Exam Score   Age Gender  Absenteeism
0           1        85.0  18.0      M            2
2           3        75.0   NaN      M            5
4           4        92.0  22.0      M            0
5           6        78.0  18.0      F            6
6           7        55.0  19.0      M            4
7           8        70.0  20.0      F            1
8           9        88.0  21.0      M            3
9          10         NaN  20.0      F            2

In [22]:
df1_duplicates = df1.drop_duplicates(subset=["Student ID"],keep="last")
print(df1_duplicates)

   Student ID  Exam Score   Age Gender  Absenteeism
0           1        85.0  18.0      M            2
2           3        75.0   NaN      M            5
4           4        92.0  22.0      M            0
5           6        78.0  18.0      F            6
6           7        55.0  19.0      M            4
7           8        70.0  20.0      F            1
8           9        88.0  21.0      M            3
9          10         NaN  20.0      F            2