<a href="https://colab.research.google.com/github/Pranayshukla0610/basic-python/blob/main/Python_Enumerate_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#zip behave with float iterables of different lengths, and how do you preserve all data
a = [1.1,2.2,3.3]
b = [10.0,20.0]
list(zip(a,b))

[(1.1, 10.0), (2.2, 20.0)]

In [2]:
from itertools import zip_longest
list(zip_longest(a,b,fillvalue=float('nan')))

[(1.1, 10.0), (2.2, 20.0), (3.3, nan)]

In [3]:
#Numerical precision problem when zipping floats and summing
x = [0.1,0.2,0.3]
y = [0.2,0.3,0.4]
[s+t for s,t in zip(x,y)]

[0.30000000000000004, 0.5, 0.7]

In [5]:
matrix = [
    [1.1,2.2,
     3.3,4.4,
     5.5,6.6
]]
list(map(list,zip(*matrix)))

[[1.1], [2.2], [3.3], [4.4], [5.5], [6.6]]

In [6]:
def float():
  for i in range(10**9):
    yield float(i)

z = zip(float(),float())

In [8]:
#Enumerate with float indexing offsets
values = [10.5,20.5,30.5]
for i, v in enumerate(values,start=1):
  print(i * 0.5,v)

0.5 10.5
1.0 20.5
1.5 30.5

In [9]:
fruits = ["apple","banana","cherry"]
for index, value in enumerate(fruits):
  print(index,value)

0 apple
1 banana
2 cherry

In [10]:
nums = [10,20,30]
for i, n in enumerate(nums):
  print(i,n)

0 10
1 20
2 30

In [12]:
names = ["Alice","Bob","Charlie"]
for i, names in enumerate(names, start=1):
  print(i,names)

1 Alice
2 Bob
3 Charlie

In [13]:
word = "Python"
for i, ch in enumerate(word):
  print(i,ch)

0 P
1 y
2 t
3 h
4 o
5 n

In [15]:
items = ["a","b","c"]
result = list(enumerate(items))
print(result)

[(0, 'a'), (1, 'b'), (2, 'c')]

In [16]:
nums = [5,10,15]
indexed = [(i, n) for i, n in enumerate(nums)]
print(indexed)

[(0, 5), (1, 10), (2, 15)]

In [17]:
colors = ["red","green","blue"]
for i, color in enumerate(colors):
  if color == 'green':
    print(i)

1

In [18]:
#Enumerate with tuples
data = [(1,"a"),(2,"b"),(3,"c")]
for i, item in enumerate(data):
  print(i,item)

0 (1, 'a')
1 (2, 'b')
2 (3, 'c')

In [19]:
#Skip some elements using enumerate
nums = [10,20,30,40,50]
for i, n in enumerate(nums):
  if i % 2 == 0:
    print(n)

10
30
50

In [21]:
#enumerate in functions
def print_items(items):
  for i, item in enumerate(items):
    print(f"{i}: {item}")

print_items(["apple","banana","cherry"])

0: apple
1: banana
2: cherry