In [3]:
#What is current version of python

import platform

print("Python version:", platform.python_version())

Python version: 3.12.7

In [ ]:
✅ Rules for a Valid Identifier in Python:
Can contain:

Letters (a–z, A–Z)

Digits (0–9)

Underscore (_)

Cannot start with a digit
❌ 1variable → invalid
✅ variable1 → valid

Cannot contain special characters
❌ my-variable, my@name, first name → invalid
✅ my_variable, first_name → valid

Cannot be a Python keyword
❌ class, for, while, def → invalid
✅ klass, loop_for, while1 → valid

Is case-sensitive
Name, name, and NAME are all different.

In [4]:
# What is the value for following expression
num = 2**3**2         #Right to left means, first we will take 3**2=9, now 2**9
print(num)

512

In [6]:
#Which of the following is not a keyword
#a. eval
#b. assert
#c. nonlocal
#d. pass

#ans: eval

In [ ]:
#Which of these is not a core DataType?
#a. List
#b. Dictionary
#c. Tuple
#d. Class

#ans: Class

In [ ]:
#IDLE: Integrated Development Lifecycle

In [7]:
def calculate(A,B):
    return A%B//A

result = calculate(16,15)
print(result)

0

In [ ]:
#Which among the following list of operators has highest precedence?
+,-,**,%,/,<<,>>,|
#Ans: **

In [ ]:
#Which of the following expression list as error

#a. float('12')
#b. int('12')
#c. float('12.5')
#d. int('12.5')

#and: d

In [ ]:
✅ Basic OOP Concepts in Python:
Python supports Object-Oriented Programming.
Python allows defining and using classes and objects.

Everything in Python is an object.
Even integers, strings, functions, etc., are objects.

A class is a blueprint for creating objects.
It defines attributes (variables) and behaviors (methods).

An object is an instance of a class.
You can create many objects from one class.

The __init__() method is a constructor.
It runs automatically when an object is created and is used to initialize object attributes.

Attributes can be instance-specific or class-level.

Instance attributes are unique to each object.

Class attributes are shared by all instances.

self refers to the current object.
It is always the first argument in instance methods.

Python supports multiple inheritance.
A class can inherit from more than one base class.

Private attributes use underscores.
self.__data is a private variable (name mangling).

Magic Methods like __str__, __len__, __eq__ add special behavior to your classes.

A class is just a blueprint, template, or design — like an architect's drawing.

An object is the real thing created based on that blueprint — like an actual building.

In [9]:
x = 123

for i in x:
    print(i)

TypeError: 'int' object is not iterable

In [10]:
sum = 3+3.00,3**3.0
print(sum)

(6.0, 27.0)

In [11]:
#How many keywords are there in Python
#ans:36

In [12]:
#DATATYPES

a = [5,10,15,20,25]
k = 1
i = a[1]+1
j = a[2]+1
m = a[k+1]
print(i,j,m)

11 16 15

In [16]:
AL = [1,2,3,4,5]
#Which of the following statement removes the middle element 3 from it so that list AL becomes [1,2,4,5]
del AL[2]
print(AL)

[1, 2, 4, 5]

In [17]:
AL = [1,2,3,4,5]
#Which of the following statement removes the middle element 3 from it so that list AL becomes [1,2,4,5]
AL[2] = []
print(AL)

[1, 2, [], 4, 5]

In [19]:
string1 = "my"
string2 = "work"
print(string1 + string2.upper())

myWORK

In [20]:
a = [1,2,3,9,5,6,7]
print(a[1:4:-2])      #a[start : stop : step]

[]

In [22]:
a = [1,2,3,1,2,1,3,4,1]
a.remove(1)
print(a)
#This does NOT mean “remove the element at index 1”.

#It means:

#“Remove the first occurrence of the value 1 from the list.”

[2, 3, 1, 2, 1, 3, 4, 1]

In [24]:
a = (1,2,3)
(a,a,a)
#ans: Nested Tuple

((1, 2, 3), (1, 2, 3), (1, 2, 3))

In [26]:
a = "akshat"
print(a[::-1])

tahska

In [28]:
a = '12121'
b = a.replace('1',"")
print(str(b))

22

In [30]:
L = 78,43,'diya',10   #If we don't use any bracket then it automatically called as typle
type(L)

tuple

In [31]:
x = {5:4,8:8,3:16,9:32}         #5,8,3,9 are keys of dictionary
print(sorted(x.items()))        #x.items means we are talking about keys

[(3, 16), (5, 4), (8, 8), (9, 32)]